# Environment variables
MONGODB_URL=mongodb+srv://BlankSpace:BlankSpace@clusterblankspace.ukndqlj.mongodb.net/logistics
DATABASE_NAME=logistics

# API Settings
PROJECT_NAME=Logistics Optimization API
VERSION=1.0.0

# CORS
ALLOWED_ORIGINS=["*"]
